body {
  background: url(https://image.freepik.com/free-photo/warm-save-wallpaper-dark-texture_1258-284.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 .topspace{
    margin-top: 10px;
  }