{% extends 'base.html' %}

{% block content%}

 <div class = "row">
      <h2 class="page-header space">Notificaciones</h2>
    </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tables" class="display" style="widtd:100%">
          <tdead>
            <tr>
              <td>Fecha de envio</td>
              <td>Contenido</td>
              <td>Link</td>
            </tr>
          </tdead>
          <tfoot>
            <tr>
              <td>Fecha de envio</td>
              <td>Contenido</td>
              <td>Link</td>
            </tr>
          </tfoot>
          <tbody>
              {% for r in notificaciones %}
            <tr>
              <td>{{ r.send_date }} </td>
              <td>{{ r.content }} </td>
              <td><a href="{{ r.url }}">{{ r.url }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{%endblock%}
