{% extends 'base.html' %}

{% block content%}
     <div class="row">
          <div class="col-md-6 col-md-offset-3 topspace" >
              <div class=" panel panel-default panel-yellow">
                 <div class="panel-heading col-md-12" align="center" style="margin-bottom: 5%;" >
                   <h3>Página no encontrada</h3>
                </div>
                <p>
                  La página no existe o tal vez ha sido renombrada o reubicada
                </p>
              </div>
          </div>
      </div>



{%endblock%}
