{% extends 'base.html' %}

{% block content%}
     <div class="row">
          <div class="col-md-6 col-md-offset-3 topspace" >
              <div class=" panel panel-default panel-yellow">
                 <div class="panel-heading col-md-12" align="center" style="margin-bottom: 5%;" >
                   <h3>Información portafolio</h3>
                </div>
                <div class="panel-body">
                  {% if messages %}
                   <div class="row">
                   <div class='col-sm-6 col-sm-offset-3'>
                       {% for message in messages %}
                       <p{% if message.tags == "success" %} class="alert alert-success" {% endif %}
                       {% if message.tags == "error" %} class="alert alert-danger" {% endif %}
                       >{{ message }}</p>
                       {% endfor %}
                   </div>
                 </div>
                   {% endif %}
                    <form action="" method="post">
                        {%csrf_token%}
                        {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% for field in form %}
                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>
                        <div class="form-group has-errors text-danger small">
                        </div>
                        <div class="form-group">
                            {{field.label_tag}}
                            {{field}}
                        </div>
                        {% endfor %}
                        <button class="btn btn-warning" style="width:100%">Guardar</button>

                    </form>
                </div>
              </div>
          </div>
      </div>

    <div class = "row">
      <h2 class="page-header space" style="color:#B43104"> Portafolios no identificados </h2>
    </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tables" class="display" style="width:100%">
          <thead>
            <tr class="bg-danger">
              <th>Identificador</th>
            </tr>
          </thead>
          <tfoot>
            <tr class="bg-danger">
              <th>Identificador</th>
            </tr>
          </tfoot>
          <tbody>
            {% for p in portafolioStage %}
            <tr class="bg-danger">
              <td>{{ p.idportafolio }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    <div class = "row ">
      <h2 class="page-header space" style="color:#31B404" > Portafolios existentes en el Datamart </h2>
    </div>

     <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tablesDtm" class="display" style="width:100%">
          <thead>
            <tr class="bg-success">
              <th>Identificador</th>
              <th>Nombre</th>
              <th>Descripción</th>

            </tr>
          </thead>
          <tfoot>
            <tr class="bg-success">
              <th>Identificador</th>
              <th>Nombre</th>
              <th>Descripción</th>
            </tr>
          </tfoot>
          <tbody>
              {% for p in portafolioDatamart %}
              <tr class="bg-success">
                <td>{{ p.idportafolio }} </td>
                <td>{{ p.nombre }} </td>
                <td>{{ p.descripcion }} </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>


{%endblock%}
