{% extends 'base.html' %}

{% block content%}
     <div class="row">
          <div class="col-md-6 col-md-offset-3 topspace" >
              <div class=" panel panel-default panel-yellow">
                 <div class="panel-heading col-md-12" align="center" style="margin-bottom: 5%;" >
                   <h3>Información producto</h3>
                </div>
                <div class="panel-body">
                 <form method="post" >
                    <div class="form-label-group">
                      <label for="inputText">Id</label>
                      <input type="text" id="inputIdProducto" class="form-control" placeholder="Id" >
                    </div>
                    <div class="form-label-group">
                      <label for="inputText">Nombre</label>
                      <input type="text" id="inputNombreProducto" class="form-control" placeholder="Nombre" required >
                    </div>
                    <div class="form-label-group">
                      <label for="inputText">Tipo operación</label>
                      <input type="text" id="inputTipoProducto" class="form-control" placeholder="Tipo operación" required >
                    </div>
                    <div class="space" align="center" >
                      <button class="btn btn-primary btn-lg btn-warning" type="submit">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>

    <div class = "row">
      <h2 class="page-header space" style="color:#C70039"> Elementos no identificados </h2>
    </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tables" class="display" style="width:100%">
          <thead>
            <tr class="bg-danger">
              <th>Fecha</th>
              <th>Identificador</th>
            </tr>
          </thead>
          <tfoot>
            <tr class="bg-danger">
              <th>Fecha</th>
              <th>Identificador</th>
            </tr>
          </tfoot>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 space">
        <button class="btn btn-warning col-md-4 col-md-offset-4" type="submit">Completar</button>
      </div>
    <div class = "row ">
      <h2 class="page-header space" style="color:#33C7FF"> Elementos existentes en el Datamart </h2>
    </div>

     <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tablesDtm" class="display" style="width:100%">
          <thead>
            <tr class="bg-success">
              <th>Identificador</th>
              <th>Nombre</th>
              <th>Tipo</th>

            </tr>
          </thead>
          <tfoot>
            <tr class="bg-success">
              <th>Identificador</th>
              <th>Nombre</th>
              <th>Tipo</th>
            </tr>
          </tfoot>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 space">
        <button class="btn btn-warning col-md-4 col-md-offset-4" type="submit">Editar</button>
      </div>
{%endblock%}
