{% extends 'base.html' %}

{% block content%}


  </script>
     <div class="row">
          <div class="col-md-6 col-md-offset-3 topspace" >
              <div class=" panel panel-default panel-yellow">
                 <div class="panel-heading col-md-12" align="center" style="margin-bottom: 5%;" >
                   <h3>Información trader</h3>
                </div>
                <div class="panel-body">
                 <form method="post" class="post-form">{% csrf_token %}
                    <div class="form-label-group">
                      <label for= {{field.id_for_label}}>{{form.as_p}}</label>
                    </div>
                    <div class="space" align="center" >
                      <button class="btn btn-primary btn-lg btn-warning" type="submit">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>

    <div class = "row">
      <h2 class="page-header space"> Elementos no identificados </h2>
    </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-hover table-striped" id="tables" class="display" style="width:100%">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
            </tr>
          </tfoot>
          <tbody>
            {% for t in traders %}
            <tr>
              <th>{{ t.fecha }} </th>
              <th>{{ t.username }} </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-12 space">
        <button class="btn btn-warning col-md-4 col-md-offset-4" type="submit">Completar</button>
      </div>
    <div class = "row ">
      <h2 class="page-header space"> Elementos existentes en el Datamart </h2>
    </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="tablesDtm" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Apellido</th>

            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Apellido</th>

            </tr>
          </tfoot>
          <tbody>
            {% for t in traders %}
            <tr>
              <th>{{ t.username }} </th>
              <th>{{ t.nombre }} </th>
              <th>{{ t.apellido }} </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-12 space">
        <button class="btn btn-warning col-md-4 col-md-offset-4" type="submit">Editar</button>
      </div>



{%endblock%}
